h4[role="label"] {
	margin-top: 15px;
	margin-bottom: 0px;
}

.mdl-card {
	width: 100%;
	padding: 15px;
}

.mdl-grid {
	max-width: 75%;
}

fieldset {
	border: 2px solid;
	padding: 25px;
	padding-top: 0px;
}

p {
	text-align: justify;
}
