h4[role="label"] {
	margin-top: 15px;
	margin-bottom: 0px;
}

.mdl-card {
	width: 100%;
	padding: 15px;
}

.mdl-grid {
	width: 75%;
	max-width: 750px;
}

fieldset {
	border: 1px solid;
	padding: 25px;
	padding-top: 0px;
}

p {
	margin-bottom: 5px;
	margin-top: 5px;
	text-align: justify;
}
