<p>
Introductory module with a short description of what the module does, along with an example module that displays processor usage and memory usage.
</p>

{% for label, value in data.items() %}
<h4 role="label">{{ label }}: {{ value }}%</h4>
<div class="mdl-progress mdl-progress__progress-accent">
	<style>
	.mdl-progress {
		width: 100%;
	}
	</style>
	<div class="mdl-progress mdl-js-progress">
		<div class="progressbar bar bar1" style="width: {{ value }}%;"></div>
		<div class="bufferbar bar bar2" style="width: 100%;"></div>
	</div>
</div>
{% endfor %}

<br />

<p role="code"><code>
import jinja2<br />
import psutil<br />
<br />
psutil.cpu_percent() # Initialize percent calculator<br />
<br />
def _getnums():<br />
&emsp;numbers = []<br />
&emsp;numbers.append(('CPU Usage', psutil.cpu_percent(interval=1)))<br />
&emsp;numbers.append(('Memory', psutil.virtual_memory().percent))<br />
<br />
&emsp;return dict(numbers)<br />
<br />
def render():<br />
&emsp;numbers = _getnums()<br />
&emsp;with open('templates/example.html') as template:<br />
&emsp;&emsp;return jinja2.Template(template.read()).render(data=numbers)<br />
</code></p>
