<p>
Introductory module with a short description of what the module does, along with an example module that displays processor usage and memory usage.
</p>

{% for label, value in data.items() %}
<h4 role="label">{{ label }}: {{ value }}%</h4>
<div class="mdl-progress mdl-progress__progress-accent">
	<style>
	.mdl-progress {
		width: 100%;
	}
	</style>
	<div class="mdl-progress mdl-js-progress">
		<div class="progressbar bar bar1" style="width: {{ value }}%;"></div>
		<div class="bufferbar bar bar2" style="width: 100%;"></div>
	</div>
</div>
{% endfor %}
