<p>Open network connections and opened ports, IPv4 and IPv6</p>

<h4 role="label">Active Connections</h4>
<table class="mdl-data-table">
	<thead>
		<tr>
			<th class="mdl-data-table__cell--non-numeric">Address</th>
			<th>Port</th>
			<th>Socket Family</th>
			<th>PID</th>
		</tr>
	</thead>
	<tbody>
		{%- for socket in sockets %}
		<tr>
			<td class="mdl-data-table__cell--non-numeric"><b>{{ socket.raddr[0] }}</b></td>
			<td>{{ socket.raddr[1] }}</td>
			<td>{{ socket.family }}</td>
			<td>{{ socket.pid }}</td>
		</tr>
		{%- endfor %}
	</tbody>
</table>

<h4 role="label">Listening Connections</h4>
<table class="mdl-data-table">
	<thead>
		<tr>
			<th class="mdl-data-table__cell--non-numeric">Address</th>
			<th>Port</th>
			<th>Socket Family</th>
			<th>PID</th>
		</tr>
	</thead>
	<tbody>
		{%- for socket in listening %}
		<tr>
			<td class="mdl-data-table__cell--non-numeric"><b>{{ socket.laddr[0] }}</b></td>
			<td>{{ socket.laddr[1] }}</td>
			<td>{{ socket.family }}</td>
			<td>{{ socket.pid }}</td>
		</tr>
		{%- endfor %}
	</tbody>
</table>
